<a href="https://colab.research.google.com/github/itsmenisha/100_Days_Python_codes/blob/main/Mysql_simplilearn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#import libraries

import mysql.connector
from mysql.connector import Error
import pandas as pd

In [ ]:
def create_server_connection(host_name,username,user_pass):
  connection=None
  try:
    connection=mysql.connector.connect(host=host_name,user=username,passwd=user_pass)
    print("MySQL Database connection successful")
  except Error as err:
    print(f"Error: '{err}'")
  return connection
  # put the mysql terminal password
  pw=1234
  #database Name
  db="mysql_python"
  connection=create_server_connection("localhost","root",pw)

In [ ]:
#Create a mysql_python
def create_database(connection,query):
  cursor=connection.cursor()
  try:
    cursor.execute(query)
    print("Database created successfully")
  except Error as err:
    print(f"Error: '{err}'")
create_database_query="Create database mysql_python"
create_database(connection,create_database_query)

In [ ]:
#connect to database
def create_db_connection(host_name,username,user_pass,db_name):
  connection=None
  try:
    connection=mysql.connector.connect(host=host_name,user=username,passwd=user_pass,database=db_name)
    print("MySQL Database connection successful")
  except Error as err:
    print(f"Error: '{err}'")
  return connection

In [ ]:
#execute sql queries
def execute_query(connection,query):
  cursor=connection.cursor()
  try:
    cursor.execute(query)
    connection.commit()
    print("Query was successful")
  except Error as err:
    print(f"Error: '{err}'")

In [ ]:
create_order_tables ="""
create table orders(
order_id int primary key,
customer_name varchar(30) not null,
product_name varchar(20) not null,
date_ordered date,
quantity int,
unit_price float,
phone_number varchar(20));
"""
#connect to the database
connection=create_db_connection("localhost","root",pw,db)
execute_query(connection,create_order_tables)

In [ ]:
#insert data
data_orders="""
insert into orders values
(101, 'Steve', 'Laptop', '2025-04-12', 2, 800, '629770000'),
(102, 'Jos', 'Smartphone', '2025-04-10', 1, 600, '9811223344'),
(103, 'Anita', 'Tablet', '2025-04-11', 3, 300, '9808765432'),
(104, 'Ramesh', 'Headphones', '2025-04-12', 1, 150, '9845011122'),
(105, 'Sita', 'Smartwatch', '2025-04-12', 2, 250, '9809123456'),
(106, 'David', 'Monitor', '2025-04-13', 1, 400, '9812345678'),
(107, 'Laxmi', 'Keyboard', '2025-04-13', 4, 50, '9822345678');
"""
connection=create_db_connection("localhost","root",pw,db)
execute_query(connection,data_orders)

In [ ]:
def read_query(connection,query):
  cursor=connection.cursor()
  result=None
  try:
    cursor.execute(query)
    result=cursor.fetchall()
    return result
  except Error as err:
    print(f"Error: '{err}'")

In [ ]:
#using the select statement
q1="""
select * from orders;
"""
connection=create_db_connection("localhost","root",pw,db)
results=read_query(connection,q1)
for result in results:
  print(result)

In [ ]:
q2="""
select customer_name,phone_number from orders;
"""
connection=create_db_connection("localhost","root",pw,db)
results=read_query(connection,q2)
for result in results:
  print(result)

In [ ]:
q3="""
select year(date_ordered) from orders;
"""
connection=create_db_connection("localhost","root",pw,db)
results=read_query(connection,q2)
for result in results:
  print(result)

In [ ]:
q4="""
select distinct year(date_ordered) from orders;
"""
connection=create_db_connection("localhost","root",pw,db)
results=read_query(connection,q2)
for result in results:
  print(result)

In [ ]:
q5="""
select * from orders where date_ordered< '2025-03-31';
"""
connection=create_db_connection("localhost","root",pw,db)
results=read_query(connection,q2)
for result in results:
  print(result)

In [ ]:
q6="""
select * from orders where date_ordered > '2025-03-31';
"""
connection=create_db_connection("localhost","root",pw,db)
results=read_query(connection,q2)
for result in results:
  print(result)

In [ ]:
q7="""
select * from orders order by unit_price;
"""
connection=create_db_connection("localhost","root",pw,db)
results=read_query(connection,q2)
for result in results:
  print(result)

In [ ]:
q7="""
select * from orders where date_ordered< '2025-03-31';
"""
connection=create_db_connection("localhost","root",pw,db)
results=read_query(connection,q2)
for result in results:
  print(result)

In [ ]:
from_db = []
for result in results:
  result =list(result)
  from_db.append(result)
columns = ["order_id","customer_name","product_name","date_ordered","quantity","unit_price","phone_number"]
df=pd.DataFrame(from_db,columns=columns)
display(df)

In [ ]:
# update command
update="""
update orders
set unit_price=45
where order_id=103
"""
connection=create_db_connection("localhost","root",pw,db)
execute_query(connection,update)

In [ ]:
#delete command
q8="""
delete from orders
where order_id=101;
"""
connection=create_db_connection("localhost","root",pw,db)
execute_query(connection,q8)

In [ ]:
#delete command
q9="""
select * from orders;
"""
connection=create_db_connection("localhost","root",pw,db)
execute_query(connection,q9)